HELP.md
.gradle
/build/

/welzuka-base-starter/build/ivy.xml
/welzuka-base-starter/build/libs/
/welzuka-base-starter/build/libs/

/welzuka-data-starter/build/ivy.xml
/welzuka-data-starter/build/libs/
/welzuka-data-starter/build/libs/

/welzuka-test-starter/build/ivy.xml
/welzuka-test-starter/build/libs/
/welzuka-test-starter/build/libs/
!gradle/wrapper/gradle-wrapper.jar


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
